In [68]:
import pandas as pd
import numpy as np

In [69]:
df = pd.read_csv('/Users/alan/Desktop/hottest_50_1960_2022_radar.csv')
df.columns

Index(['weeks', 'year', 'danceability', 'energy', 'key', 'loudness', 'mode',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms'],
      dtype='object')

In [70]:
radar_feature = ['danceability', 'energy', 'loudness', 'speechiness', 'acousticness', 'liveness', 'valence']

In [71]:
df_for_normalize = df[radar_feature]
normalized_df = (df_for_normalize - df_for_normalize.min()) / (df_for_normalize.max() - df_for_normalize.min())

In [73]:
normalized_df.head()

,danceability,energy,loudness,speechiness,acousticness,liveness,valence
0,0.620549,0.689207,0.772074,0.048440,0.575299,0.152210,0.773374
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.558494,0.529800,0.692066,0.146540,0.763051,0.195580,0.471545
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.344863,0.406485,0.781542,0.043284,0.868473,0.096448,0.629065

In [78]:
normalized_df['year'] = df['year']
y1960 = normalized_df[normalized_df['year'] == 1960]
y1960_mean = y1960.mean()
year_mean = pd.DataFrame(data = [], columns = dict(y1960_mean).keys())

for year in normalized_df.groupby('year'):
        year_mean.loc['new'] = list(year[1].mean())
        year_mean = year_mean.reset_index(drop = True)
year_mean = year_mean.round(2)
year_mean['year'] = year_mean['year'].astype(int)

In [79]:
year_mean.head()

,danceability,energy,loudness,speechiness,acousticness,liveness,valence,year
0,0.58,0.52,0.76,0.08,0.53,0.16,0.55,1960
1,0.58,0.59,0.82,0.08,0.41,0.22,0.56,1961
2,0.55,0.53,0.76,0.08,0.44,0.17,0.54,1962
3,0.62,0.61,0.79,0.12,0.37,0.15,0.59,1963
4,0.58,0.62,0.80,0.07,0.40,0.18,0.55,1964

In [80]:
year_mean.to_csv('year_mean.csv', index = None)

In [85]:
decade_to_convert = year_mean
decade_to_convert['era'] = year_mean['year'].apply(lambda x: int(str(x)[0:3]))

In [86]:
decade_to_convert.head()

,danceability,energy,loudness,speechiness,acousticness,liveness,valence,year,era
0,0.58,0.52,0.76,0.08,0.53,0.16,0.55,1960,196
1,0.58,0.59,0.82,0.08,0.41,0.22,0.56,1961,196
2,0.55,0.53,0.76,0.08,0.44,0.17,0.54,1962,196
3,0.62,0.61,0.79,0.12,0.37,0.15,0.59,1963,196
4,0.58,0.62,0.80,0.07,0.40,0.18,0.55,1964,196

In [90]:
d1960 = decade_to_convert[decade_to_convert['era'] == 196]
d1960_mean = d1960.mean()
decade_mean = pd.DataFrame(data = [], columns = dict(d1960_mean).keys())

for decade in decade_to_convert.groupby('era'):
        decade_mean.loc['new'] = list(decade[1].mean())
        decade_mean = decade_mean.reset_index(drop = True)
decade_mean = decade_mean.round(2)

In [96]:
decade_mean.drop('year', axis = 1, inplace = True)

In [97]:
decade_mean['era'] = decade_mean['era'] * 10

In [101]:
decade_mean['era'] = decade_mean['era'].astype(int) 
decade_mean['era'] = decade_mean['era'].astype(str) + 's'
decade_mean

,danceability,energy,loudness,speechiness,acousticness,liveness,valence,era
0,0.59,0.58,0.79,0.09,0.36,0.17,0.57,1960s
1,0.62,0.58,0.78,0.10,0.32,0.16,0.58,1970s
2,0.64,0.63,0.79,0.09,0.26,0.16,0.60,1980s
3,0.64,0.63,0.80,0.11,0.23,0.16,0.56,1990s
4,0.65,0.67,0.86,0.14,0.17,0.16,0.54,2000s
5,0.68,0.65,0.86,0.14,0.19,0.15,0.52,2010s
6,0.68,0.60,0.84,0.13,0.27,0.16,0.53,2020s

In [102]:
decade_mean.to_csv('decade_mean.csv', index = None)

In [103]:
df.head()

,weeks,year,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,27,1960,0.610,0.688,7.0,-9.308,1.0,0.0357,0.573,0.000000,0.164,0.761,119.831,165893.0
1,26,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,1960,0.549,0.529,3.0,-12.291,0.0,0.1080,0.760,0.000000,0.206,0.464,82.755,184333.0
3,24,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,1960,0.339,0.406,10.0,-8.955,1.0,0.0319,0.865,0.000011,0.110,0.619,109.783,118133.0

In [130]:
df_since_2010 = df[df['year'] >= 2010]

In [134]:
df_since_2010 = df_since_2010.sort_values('weeks', ascending = False)

In [135]:
df_since_2010.head()

,weeks,year,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
3050,90,2021,0.514,0.730,1.0,-5.934,1.0,0.0598,0.00146,0.000095,0.0897,0.334,171.005,200040.0
2700,87,2014,0.448,0.784,9.0,-3.686,1.0,0.0627,0.10600,0.000108,0.6680,0.236,136.245,186813.0
2701,79,2014,0.826,0.436,1.0,-9.583,1.0,0.0558,0.44100,0.615000,0.0964,0.272,119.051,259093.0
3100,72,2022,0.702,0.825,6.0,-3.787,0.0,0.0601,0.00883,0.000000,0.0674,0.915,102.977,203064.0
2600,68,2012,0.750,0.727,5.0,-4.210,0.0,0.1420,0.01890,0.000000,0.2660,0.359,129.993,262173.0

In [156]:
top_20 = df_since_2010.iloc[0:20]
bottom_20 = df_since_2010.iloc[-20:]
top_20 = top_20[radar_feature]
bottom_20 = bottom_20[radar_feature]
top_20_normalized = (top_20 - top_20.min()) / (top_20.max() - top_20.min())
bottom_20_normalized = (bottom_20 - bottom_20.min()) / (bottom_20.max() - bottom_20.min())

In [157]:
top_20_normalized_mean = top_20_normalized.mean()
top_20_normalized_mean

danceability    0.524519
energy          0.555897
loudness        0.623561
speechiness     0.232086
acousticness    0.310175
liveness        0.231223
valence         0.371295
dtype: float64

In [158]:
bottom_20_normalized_mean = bottom_20_normalized.mean()
bottom_20_normalized_mean

danceability    0.517601
energy          0.609221
loudness        0.589373
speechiness     0.388050
acousticness    0.298875
liveness        0.303057
valence         0.510463
dtype: float64

In [159]:

comparison_mean = pd.DataFrame(data = [], columns = dict(top_20_normalized_mean).keys())

for group in [top_20_normalized, bottom_20_normalized]:
        comparison_mean.loc['new'] = list(group.mean())
        comparison_mean = comparison_mean.reset_index(drop = True)
comparison_mean = comparison_mean.round(2)

In [160]:
comparison_mean

,danceability,energy,loudness,speechiness,acousticness,liveness,valence
0,0.52,0.56,0.62,0.23,0.31,0.23,0.37
1,0.52,0.61,0.59,0.39,0.30,0.30,0.51

In [161]:
comparison_mean['is_top'] = [1, 0]

In [162]:
comparison_mean

,danceability,energy,loudness,speechiness,acousticness,liveness,valence,is_top
0,0.52,0.56,0.62,0.23,0.31,0.23,0.37,1
1,0.52,0.61,0.59,0.39,0.30,0.30,0.51,0

In [163]:
comparison_mean.to_csv('comparison_mean.csv', index = None)